* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100%;
    /* width: 100vw; */
}
/* --------------- header --------------- */

#title h1 {
    color: rgb(41, 177, 221);
    font-size: 50px;
    padding: 15px;
    font-weight:bolder;
}

#menu {
    background-color: rgb(41, 177, 221);
    padding: 20px 0px;    
}

.mc-menu-label {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mc-menu-label h2 {
    color: white;
    text-transform: uppercase;
}


/* --------------- main --------------- */
.mc-container-main {
    background-color: rgb(221,221, 221);
    padding: 30px;
    height: 100%;

}

/* --------------- card --------------- */
.mc-card{
    text-align: center;
    border-radius: 20px;
    background-color: white;
    margin: 20px ;    
    box-shadow: 6px 6px 13px -5px #000000;
}

.mc-card i {
    font-size: 50px;
    margin: 20px 0px;
}

.mc-card h5 {
    text-transform: uppercase;
}

.mc-icon-blue{
    color: blue;
}
.mc-icon-green{
    color: green;
}
.mc-icon-orange{
    color: orange;
}
